<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!-- pengganti render ke layouts/ _shim.html.erb -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!-- header yang tadinya ditulis disini, jadi dipisah, di oper ke _header.html.erb-->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
