<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!-- pengganti render ke layouts/ _shim.html.erb -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!-- header yang tadinya ditulis disini, jadi dipisah, di oper ke _header.html.erb-->
    <div class="container">

      <!-- Buat flash di def create, yang munculin keterangan bahwa signup sudah sukses -->
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
